python-telegram-bot==13.9
python-dotenv==0.19.2
pytest-asyncio==0.16.0
pytest==6.2.5
telethon==1.24.0
beautifulsoup4==4.10.0
markdown==3.3.6
mysql-connector-python==8.0.27
pymongo==3.6.0
pymongo[srv]==3.6.0
opencv-python-headless==4.5.5.62
locust==2.5.1
coverage==6.2